<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css" />
</head>
<body>
{{postid}}
  <form action="/comment/{{postid}}" method="POST">

    <!-- <label>Enter your username:<input type="text" name="username" /> </label><br /><br /> -->
  <!-- <label><input type="text" name="title"  /></label><br /><br /> --><h3>Add your comment</h3>

  <label>Type your comment here: <textarea type="text"  name="commentBody"></textarea
  > </label> <br /><br />
    <input type="submit" value="Add comment" />
  </form>

</body>
</html>
