<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css" />
</head>
<body>

<form action="/" method="POST">
<label>Enter your username : </label>
<input type="text" name="username" /><br />

<label>Enter title of your post : </label>
<input type="text" name="title"  /><br /><br />

<label>Enter your post : </label>
<textarea type="text" name="description"></textarea><br />
<input type="submit" value="Add Post" />

</form>

</body>
</html>
