<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css" />
</head>
<body>



  <form action="/" method="POST">
    <br />
    <label>Enter your username:<input type="text" name="username" /> </label><br /><br />
  <label>Enter title of your post:  <input type="text" name="title"  /></label><br /><br />
  <label>Type your content here: <textarea type="text"  name="description"></textarea
  > </label> <br /><br />
    <input type="submit" value="Add post" />
  </form>

</body>
</html>
