<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css" />
</head>
<body>
  <form action="login" method="POST">
  <label>Enter your username:<input type="text" name="username"/></label>
  <label>Enter your password:<input type="password" name="password"/></label>

  <input type="submit" value="login"/>

  </form>
</body>
</html>
