<html>
<head>
  <link rel="stylesheet" type="text/css" href="/site.css" />
</head>
<body>
  <form action="/add_user_db" method="POST">
  <label>Create your username:<input type="text" name="username"/></label>
  <label>Enter your email:<input type="email" name="email"/></label>
  <label>Create your password:<input type="password" name="password"/></label>

  <input type="submit" value="Register"/>

  </form>
</body>
</html>
